.footer {

  &-top {
    height: 176px;
  }

  &-bottom {
    height: 100%;
    background-color: #1641a8;
    display: flex;
    align-items: center;


    .row {
      justify-content: space-between;
      padding-bottom: 25px;


      .footer-about {
        display: flex;
        align-items: center;

        &-gerb {
          filter: sepia(100%) hue-rotate(190deg) saturate(300%);
          margin-right: 14px;

        }

        &-caption {
          text-transform: uppercase;
          line-height: 20px;
          color: white;
        }
      }

      .footer-info {
        a {
          color: white;
        }

        > span:first-child {
          margin-bottom: 8px;
        }

        display: flex;
        flex-direction: column;
        color: white;

        img {
          margin-right: 13px;
        }
      }

      h1 {
        font-family: "Roboto Condensed", serif;
        color: white;
        line-height: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        margin-left: 13px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 800px) {
  .app {
    .footer {
      &-bottom {
        .row {
          flex-direction: column;

          .footer-info {
            align-self: flex-start;
            margin-top: 15px;
          }
        }
      }
    }
  }
}